@font-face {
  font-family: 'TypewriterRegular';
  src: url(./../../assets/font/American\ Typewriter\ Regular\ 400.ttf);
}

*{
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: 'TypewriterRegular';
}

html, body{
  width: 100%;
  height: 100%;
}

.container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "topbar"
  "main";
  grid-template-rows: 10% 90%;
}

.topbar {
  grid-area: topbar;
  color: rgb(200, 30, 13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.blank, .title, .finish {
  width: 33.3%;
}

.title {
  text-align: center;
  font-size: 25px;
}

.title>h1 {
  transition: 0s;
}

.title>h1:hover {
  text-shadow: 1px 2px 1px black;
  cursor: pointer;
}

.finish {
  display: flex;
  justify-content: flex-end;
}

.button {
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.button i {
  margin-right: 5px;
  font-size: 20px;
}

.button:hover>div {
  background-color: rgb(161, 18, 5);
}

.button>div {
  background-color: rgb(200, 30, 13);
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
  display: flex;
}

.main{
  background-color: pink;
  grid-area: main;
  border: 2px solid rgb(0, 255, 0);
  overflow-y: scroll;
}

.product-item{
  background-color: black;
  width: calc(100% - 20px);
  height: 200px;
  margin: 10px;
}

#shipping{
  font-size: xx-large;
}