@font-face {
  font-family: 'TypewriterRegular';
  src: url(./../../font/American\ Typewriter\ Regular\ 400.ttf);
}

*{
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: 'TypewriterRegular';
}

html, body{
  width: 100%;
  height: 100%;
}

.container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "topbar"
  "main";
  grid-template-rows: 10% 90%;
}

.topbar{
  background-color: rgb(133, 131, 130);
  grid-area: topbar;
  border: 2px solid red;
}

.main{
  background-color: pink;
  grid-area: main;
  border: 2px solid rgb(0, 255, 0);
  overflow-y: scroll;
}

.product-item{
  background-color: black;
  width: calc(100% - 20px);
  height: 200px;
  margin: 10px;
}